.container {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  align-items: center;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: disc;
}

.list > li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.colorsListContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.colorsList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.understanding {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  align-items: center;
}

.color {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: lawngreen;
  margin-top: 3px;
}
