.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  border-left: 10px solid var(--theme-primary-color);
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  background-color: rgb(206, 206, 206);
  width: 100%;
}

.courseName {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
  color: black;
}

.courseDesContainer {
  display: flex;
  align-items: center;
}

.tagsContainer {
  display: flex;
}

.date {
  font-weight: 400;
  font-size: 0.8rem;
  color: gray;
}
@media only screen and (max-width: 768px) {
  .container {
    text-align: center;
  }
  .courseName {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .courseDesContainer {
    flex-direction: column;
  }
  .date {
    align-self: center;
    margin-top: 3px;
  }
}
