.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.photo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.name {
  font-weight: 500;
  color: var(--theme-page-text);
  font-size: 1rem;
}

.headerContainer {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  text-align: center;
}

.locationInfo {
  font-weight: 300;
  margin-left: 3px;
  font-size: 0.8rem;
  color: var(--theme-page-text);
}

.headerTxt {
  font-size: 1.5rem;
  color: var(--theme-page-text);
}

.infos {
  margin-bottom: 3rem;
  width: 50%;
  color: var(--theme-page-text);
}

.headerSpan {
  display: block;
}

.infoConatiner {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  color: var(--theme-page-text);
}

@media only screen and (max-width: 900px) {
  .infos {
    width: 70%;
  }
  .container {
    padding-top: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
  }
  .infos {
    width: 90%;
  }
  .infoConatiner {
    margin-right: 0;
  }
}
