.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3rem;
  height: 1.4rem;
  background: var(--theme-button-linear-gradient);
  border-radius: 1.2rem;
  overflow: hidden;
  padding: 1px 3px;
  transition: all 1s ease;
  cursor: pointer;
}
