.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

ul > li {
  margin-right: 10px;
  font-size: 1rem;
}

.navLink {
  color: var(--theme-page-text);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 2px;
  transition: all 0.4s ease;
  background-size: 100% 0%;
  background-repeat: no-repeat;
}

.navLink:hover {
  background-image: linear-gradient(
    0deg,
    var(--theme-secondary-color) 100%,
    #ffffff 0%
  );
  background-position: 100% 100%;
  background-size: 100% 40%;
}

.activeLink {
  background-image: linear-gradient(
    0deg,
    var(--theme-secondary-color) 100%,
    #ffffff 0%
  );
  background-position: 0 100%;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .container {
    justify-content: center;
  }
}

@media only screen and (max-width: 340px) {
  ul > li {
    font-size: 0.8rem;
  }
}
