/* .container {
  display: flex;
  background-color: #7eb0db;
  padding: 4px;
  border: black 1px solid;
  color: white;
  border-radius: 2px;
  font-size: 0.7rem;
  font-family: Rubik, monospace;
  font-weight: 500;
  align-items: center;
  margin-right: 5px;
} */
