.light {
  --theme-page-background: #fff;
  --theme-page-text: #111;
  --theme-primary-color: rgb(103, 219, 61);
  --theme-button-linear-gradient: linear-gradient(
    rgb(0, 238, 255) 1%,
    rgb(2, 250, 176) 80%
  );
}

.dark {
  --theme-page-background: #111;
  --theme-page-text: #fff;
  --theme-primary-color: #ff008c;
  --theme-button-linear-gradient: linear-gradient(
    rgb(3, 3, 94) 10%,
    rgb(129, 129, 129)
  );
}
.container {
  min-width: 100vw;
  min-height: 100vh;
  padding: 3rem;
  background-color: var(--theme-page-background);
  transition: all 0.5s ease;
}

.topbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 3rem 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 3rem 0.7rem;
  }
}
