.light {
  --theme-page-background: #fff;
  --theme-page-text: #111;
  --theme-primary-color: #ffc400;
  --theme-button-linear-gradient: linear-gradient(
    rgb(40, 40, 243) 1%,
    rgb(2, 213, 250) 80%
  );
}

.dark {
  --theme-page-background: #111;
  --theme-page-text: #fff;
  --theme-primary-color: #ff008c;
  --theme-button-linear-gradient: linear-gradient(
    rgb(3, 3, 94) 10%,
    rgb(129, 129, 129)
  );
}
.container {
  min-width: 100vw;
  min-height: 100vh;
  padding: 3rem;
  background-color: var(--theme-page-background);
  transition: all 0.5s ease;
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 3rem 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 3rem 0.7rem;
  }
}
