.container {
  min-width: 100vw;
  min-height: 100vh;
  padding: 3rem;
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 3rem 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 3rem 0.7rem;
  }
}
